{% load subtract %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/detail.css">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/legend.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.2.1/rickshaw.min.js"></script> 


<body>
<div class="container">
    <h1>BlooCoin total coin count</h1>
    <div id="valueGraph"></div>
    <div id="legend_container">
            <div id="smoother" title="Smoothing"></div>
            <div id="valueGraphLegend"></div>
    </div>
    <div id="slider"></div>

    <h1>BlooCoin total coin count - current difficulty only</h1>
    <div id="difficultyValueGraph"></div>
    <div id="legend_container">
            <div id="smoother" title="Smoothing"></div>
            <div id="difficultyValueGraphLegend"></div>
    </div>
    <div id="difficultySlider"></div>
    <script>
          var valueGraph = new Rickshaw.Graph( {
            element: document.querySelector("#valueGraph"),
            width: 1000,
            height: 300,
            min: {{data.0.value}},
            renderer: 'line',
            series: [ 
              {data: [{% if data %}
                {% for point in data %}{ x: {{point.time}}, y: {{point.value}} },{% endfor %}
                {% endif %}],
                color: '#BB3333',
                name: "Total Coins",
              }]
          } );
    
    valueGraph.render();

    var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: valueGraph,
    });

    yAxis.render();

    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: valueGraph,
    } );

    var valueGraphLegend = new Rickshaw.Graph.Legend( {
        graph: valueGraph,
        element: document.getElementById('valueGraphLegend'),

    } );

    var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
        graph: valueGraph,
        legend: valueGraphLegend
    } );

    var axes = new Rickshaw.Graph.Axis.Time( {
        graph: valueGraph,
    orientation: 'bottom',
    } );

    axes.render();


    var difficultyValueGraph = new Rickshaw.Graph( {
        element: document.querySelector("#difficultyValueGraph"),
        width: 1000,
        height: 300,
        min: {{difficulty_dataset.0.value}},
        renderer: 'line',
        series: [ 
          {data: [{% if difficulty_dataset %}
            {% for point in difficulty_dataset %}{ x: {{point.time}}, y: {{point.value}} },{% endfor %}
            {% endif %}],
            color: '#33BB33',
            name: "Total Coins",
          }]
    } );
    
    difficultyValueGraph.render();

    var difficultyYAxis = new Rickshaw.Graph.Axis.Y({
        graph: difficultyValueGraph,
    });

    difficultyYAxis.render();

    var difficultyHoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: difficultyValueGraph,
    } );

    var valueGraphLegend = new Rickshaw.Graph.Legend( {
        graph: difficultyValueGraph,
        element: document.getElementById('difficultyValueGraphLegend'),

    } );

    var difficultyShelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
        graph: difficultyValueGraph,
        legend: difficultyValueGraphLegend
    } );

    var difficultyAxes = new Rickshaw.Graph.Axis.Time( {
        graph: difficultyValueGraph,
        orientation: 'bottom',
    } );

    difficultyAxes.render();
    </script>
    <div  class="well" style='margin-top:10px'>
        <p>
            Current coin count: <b>{{coin_count}}</b>blc
        </p>
        <p>
            Current difficulty: <b>{{difficulty}}</b>
        </p>
        <p>
            Mine Averages: <b>{{mine_rate.1m|floatformat:"4"}}</b>, <b>{{mine_rate.5m|floatformat:"4"}}</b>, <b>{{mine_rate.15m|floatformat:"4"}}</b>
        </p>
        <p>
             <i>Averages are in form: 1 minute blc/s, 5 minutes blc/s, 15 minute blc/s</i>
         </p>
         {% if increase_date %}
         <p>
            ETA for Difficulty Increase: <b>{{increase_date}}</b>
        </p>
        {% endif %}
    </div>
    <!--Current Mine rate: {{mine_rate.10s}}-->
</div>
</body>
