{% load subtract %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/detail.css">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/legend.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.2.1/rickshaw.min.js"></script> 


<body>
<div class="container">
    <h1>BlooCoin total coin count</h1>
    <div id="valueGraph"></div>
    <div id="legend_container">
            <div id="smoother" title="Smoothing"></div>
            <div id="valueGraphLegend"></div>
    </div>
    <div id="slider"></div>
    <script>
          var valueGraph = new Rickshaw.Graph( {
            element: document.querySelector("#valueGraph"),
            width: 1000,
            height: 300,
            renderer: 'line',
            series: [ 
              {
                data: [{% if data %}

        {% for point in data %}
            { x: {{point.time}}, y: {{point.value}} },
        {% endfor %}

    {% endif %}],
                color: '#BB3333',
                name: "Total Coins",
              }]
          } );
          
          valueGraph.render();

    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: valueGraph,
        yFormatter: function(y) { return y + {{ yoffset }} }
    } );

    var valueGraphLegend = new Rickshaw.Graph.Legend( {
        graph: valueGraph,
        element: document.getElementById('valueGraphLegend'),

    } );

    var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
        graph: valueGraph,
        legend: valueGraphLegend
    } );

    var axes = new Rickshaw.Graph.Axis.Time( {
        graph: valueGraph,
    orientation: 'bottom',
    } );

    axes.render();
    </script>
    <div  class="well" style='margin-top:10px'>
        <p>
            Current coin count: <b>{{coincount}}</b>blc
        </p>
        <p>
            Current difficulty: <b>{{difficulty}}</b>
        </p>
    </div>
    <!--Current Mine rate: {{mine_rate.10s}}-->
</div>
</body>
